<mat-dialog-content *ngIf="isResult == false">
    <h5>{{question.name}}</h5>
    <div class="skintype-choise">
        <div *ngIf="question.yesId != null">
            <button *ngIf="question.yesImage != null" class="yesImage-{{question.yesId}}" (click)="onClickQuestion(question.yesId)">
                รูปใช่
            </button>
            <button *ngIf="question.yesImage == null" class="yesId-{{question.yesId}}" (click)="onClickQuestion(question.yesId)">
                ใช่
            </button>
        </div>
        <div *ngIf="question.yesResult != null">
            <button class="btn yesResult-{{question.yesResult}}" (click)="onClickResult(question.yesResult)">
                ใช่
            </button>
        </div>
        <div *ngIf="question.noId != null">
            <button *ngIf="question.noImage != null" class="noImage-{{question.noId}}" (click)="onClickQuestion(question.noId)">
                รูปไม่
            </button>
            <button *ngIf="question.noImage == null" class="noId-{{question.noId}}" (click)="onClickQuestion(question.noId)">
                ไม่
            </button>
        </div>
        <div *ngIf="question.noResult != null">
            <button class="noResult-{{question.noResult}}" (click)="onClickResult(question.noResult)">
                ใช่
            </button>
        </div>
    </div>
    <div style="text-align: right;">
        <p><span><img src="../../assets/img/avatar03.png" height="100px"></span></p>
        <a href="http://www.freepik.com">Designed by Freepik</a>
    </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="isResult == true">
    <h4>ลักษณะผิวของคุณคือ {{yesNoResult.name}}</h4>
    <h5>สิ่งสำคัญสำหรับการดูแลผิวของคุณคือ</h5>
    <div *ngIf="yesNoResult.id == 1">
        <p><b><u>รักษาความชุ่มชื้นให้กับผิว </u></b>เพราะเมื่ออายุเพิ่มขึ้น ผิวจะค่อยๆแห้ง ผิวแห้งเป็นสาเหตุของปัญหาผิวต่างๆ เช่นรูขุมขนกว้าง ริ้วรอย ฝ้า เป็นต้น  ดังนั้นคุณควรดูแลถนอมผิวตั้งแต่นี้เป็นต้นไป</p>
    </div>
    <div *ngIf="yesNoResult.id == 2">
        <p><b><u>ไม่ทำให้หน้ามันขึ้น </u>ในขณะเดียวกัน<u>ก็ไม่ทำให้หน้าแห้ง และรักษาความชุ่มชื้นให้กับผิว</u></b> เพราะความมันบนใบหน้าที่มากเกินไปเป็นสาเหตุของสิว รอยสิว และรูขุมขนกว้าง ในขณะที่พยายามขจัดไขมันบนใบหน้า ก็อาจทำให้ผิวแห้ง  ซึ่งผิวแห้งเป็นสาเหตุของปัญหาผิวต่างๆ เช่นรูขุมขนกว้าง ริ้วรอย ฝ้า เป็นต้น</p>
    </div>
    <div *ngIf="yesNoResult.id == 3">
        <p><b><u>ไม่ทำให้หน้ามันขึ้น </u>ในขณะเดียวกัน<u>ก็ไม่ทำให้หน้าแห้ง และรักษาความชุ่มชื้นให้กับผิว</u></b> เพราะความมันบนใบหน้าที่มากเกินไปเป็นสาเหตุของสิว รอยสิว และรูขุมขนกว้าง ในขณะที่พยายามขจัดไขมันบนใบหน้า ก็อาจทำให้ผิวแห้ง  ซึ่งผิวแห้งเป็นสาเหตุของปัญหาผิวต่างๆ เช่นรูขุมขนกว้าง ริ้วรอย ฝ้า เป็นต้น</p>
    </div>
    <div *ngIf="yesNoResult.id == 4">
        <p><b><u>รักษาและให้ความชุ่มชื้นกับผิวมากๆ </u></b>เพราะผิวแห้งเป็นสาเหตุของปัญหาผิวต่างๆ เช่นรูขุมขนกว้าง ริ้วรอย ฝ้า เป็นต้น</p>
    </div>
    <div *ngIf="yesNoResult.id == 5">
        <p>คุณควรใส่ใจ และระมัดระวังเป็นพิเศษควรเลือกใช้สกินแคร์ที่ <b><u>ไม่ทำให้ผิวแห้ง และ รักษาความชุ่มชื้นให้กับผิวของคุณ</u> นอกจากนั้นควรเลือกผลิตภัณฑ์ที่มีความปลอดภัยสูงปราศจากสารต่างๆ ที่อาจจะก่อให้เกิดการระคายเคือง</b> เช่นแอลกอฮอล์ สารกันบูดเป็นต้น (ลิ้งไปที่ผลิตภัณฑ์ที่เหมาะสมกับคุณ)</p>
    </div>
    <div>
        
    </div>
    <div class="bottom-dialog">
        <div class="left">
                <button class="btn" (click)="onCloseDialog()">Close</button>
        </div>
        <div class="right">
            <p><span><img src="../../assets/img/avatar03.png" height="100px"></span></p>
            <a href="http://www.freepik.com">Designed by Freepik</a>
        </div>
    </div>
</mat-dialog-content>