<!--<div class="container" >-->
    <!--<div class="row">-->
        <!--<div class="col-6 " style="margin-bottom: 50px" >-->
    <!--<h1 class="pink" style="margin-top: 50px;margin-bottom: 50px">เกี่ยวกับเรา</h1>-->
    <!--<p style="text-align: justify;">-->
        <!--Choicechecker คือช่องทางที่สร้างสรรค์ขึ้นมาสำหรับผู้บริโภคทุกเพศ ทุกวัย ทุกยุคสมัย -->
        <!--โดยจัดทำและแนะนำข้อมูลที่เป็นประโยชน์อ้างอิงตามหลักวิทยาศาสตร์ เกี่ยวกับการดูแลตัวเอง -->
        <!--ซึ่งเน้นเรื่องความสวยงาม สุขภาพ การออกกำลังกาย อาหารการกิน นอกจากนั้นยังมีระบบ-->
        <!--สนับสนุนช่วยผู้บริโภคในการสืบค้นหาผลิตภัณฑ์ที่เหมาะสมกับตัวผู้บริโภคเอง เพื่อเพิ่มโอกาส-->
        <!--เกิดผลลัพธ์สูงสุดจากการใช้ผลิตภัณฑ์นั้นๆอีกด้วย และระบบที่ Choicechecker สร้างขึ้นมา-->
        <!--เป็นพิเศษเพื่อให้คำปรึกษาและช่วยแก้ปัญหาเรื่องของความสวยงามของผู้บริโภค โดยจุดประสงค์-->
        <!--หลักของพวกเรา Choicechecker เพียงคาดหวังว่าผู้บริโภคทุกคนจะได้รับสิ่งที่ใช่ที่สุด ดีที่สุด -->
        <!--เหมาะสมที่สุดสำหรับตัวเอง แล้วเกิดพลังด้านบวก เกิดความภูมิใจ และมั่นใจในตัวเอง -->
        <!--ในการใช้ชีวิตอยู่ในสังคมอย่างมีความสุข และสนุกสนาน</p>-->
        <!--<br>-->
        <!--<h5>“Choicechecker”</h5>   -->
        <!--<br>-->
        <!--<div class="text-center">-->
        <!--<h5 class="font-red"> The one that you chose is the most suited  you</h5>-->
        <!--<h4>#เพราะเราเลือกมันจึงใช่ที่สุด</h4></div>-->
        <!--<br> <br>   -->
        <!--<p style="text-align: justify;">                      -->
        <!--สิ่งที่คุณจะพบแน่นอนใน  Choicechecker สำหรับลูกค้า<br></p>-->
        <!--<ol style="text-align: justify;">-->
                <!--<li>ข้อมูลและรีวิวของผลิตภัณฑ์ทั้งเครื่องสำอาง อาหารเสริม และผลิตภัณฑ์สุขภาพอื่นๆของแต่ละตัวอย่างละเอียด ซึ่งผลิตภัณฑ์เหล่านี้ได้ผ่านเกณฑ์การคัดเลือกอันเข้มงวดของบริษัท Choicechecker ว่าปลอดภัย และมีคุณภาพ โดยอ้างอิงจากหลักความเป็นจริงทางวิทยาศาสตร์ และผู้ใช้จริง ก่อนนำมาแนะนำสู่ผู้บริโภคเรียบร้อยแล้ว</li>-->
                <!--<li>ข้อมูลและวิธีการดูแลตัวเองในรูปแบบต่างๆ ไม่ว่าจะเป็นการออกกำลังกาย อาหารการกิน เพื่อสนับสนุนให้การใช้ผลิตภัณฑ์เกิดประสิทธิภาพสูงที่สุด</li>-->
                <!--<li>ระบบช่วยสนับสนุนเพื่อช่วยผู้บริโภคในการสืบค้นหาผลิตภัณฑ์ที่เหมาะสมกับตัวเองมากที่สุดและเพิ่มโอกาสเกิดผลลัพธ์สูงสุดอีกด้วย</li>-->
                <!--<li>ระบบที่สร้างขึ้นมาเป็นพิเศษเพื่อให้คำปรึกษาและช่วยแก้ปัญหาเรื่องของความสวยงามของผู้บริโภค</li>-->
                <!--<li>กระดานแลกเปลี่ยนความคิดเห็น ประสบการณ์ในการดูแลตัวเอง ที่ทุกคนสามารถเข้ามาร่วมสนุกได้ตลอดเวลา</li>-->
                <!--<li>ช่องทางการซื้อสินค้าที่สะดวก ใช้งานง่าย และมีความน่าเชื่อถือสูง</li>-->
              <!--</ol>-->
        <!--&lt;!&ndash; 1.	ข้อมูลและรีวิวของผลิตภัณฑ์ทั้งเครื่องสำอาง อาหารเสริม และผลิตภัณฑ์สุขภาพอื่นๆของแต่ละตัวอย่างละเอียด ซึ่งผลิตภัณฑ์เหล่านี้ได้ผ่านเกณฑ์การคัดเลือกอันเข้มงวดของบริษัท Choicechecker ว่าปลอดภัย และมีคุณภาพ โดยอ้างอิงจากหลักความเป็นจริงทางวิทยาศาสตร์ และผู้ใช้จริง ก่อนนำมาแนะนำสู่ผู้บริโภคเรียบร้อยแล้ว<br> -->
        <!--2.	ข้อมูลและวิธีการดูแลตัวเองในรูปแบบต่างๆ ไม่ว่าจะเป็นการออกกำลังกาย อาหารการกิน เพื่อสนับสนุนให้การใช้ผลิตภัณฑ์เกิดประสิทธิภาพสูงที่สุด<br>-->
        <!--3.	ระบบช่วยสนับสนุนเพื่อช่วยผู้บริโภคในการสืบค้นหาผลิตภัณฑ์ที่เหมาะสมกับตัวเองมากที่สุดและเพิ่มโอกาสเกิดผลลัพธ์สูงสุดอีกด้วย <br>-->
        <!--4.	ระบบที่สร้างขึ้นมาเป็นพิเศษเพื่อให้คำปรึกษาและช่วยแก้ปัญหาเรื่องของความสวยงามของผู้บริโภค<br>-->
        <!--5.	กระดานแลกเปลี่ยนความคิดเห็น ประสบการณ์ในการดูแลตัวเอง ที่ทุกคนสามารถเข้ามาร่วมสนุกได้ตลอดเวลา<br>-->
        <!--6.	ช่องทางการซื้อสินค้าที่สะดวก ใช้งานง่าย และมีความน่าเชื่อถือสูง <br>-->
        <!--</ol> &ndash;&gt;-->

        <!--<br>-->
        <!--<p style="text-align: justify;">-->
        <!--Choicechecker ยังเป็นช่องทางที่ดีที่สุดในการโปรโมทผลิตภัณฑ์ และช่วยทำให้ผลิตภัณฑ์ของธุรกิจเหล่านั้นเข้าถึงผู้บริโภคได้ตรงกับกลุ่มเป้าหมายมากที่สุด<br>-->
        <!--สิ่งที่คุณจะพบแน่นอนใน Choicechecker สำหรับธุรกิจ</p>-->
        <!--<ol style="text-align: justify;">-->
            <!--<li>การจัดทำข้อมูลที่ถูกต้อง ตามหลักความเป็นจริง ทางวิทยาศาสตร์ เพื่อให้ลูกค้าเข้าใจและรู้สึกสนใจในผลิตภัณฑ์เหล่านั้น รวมถึงมีระบบที่ช่วยให้ผลิตภัณฑ์ของบริษัทคุณเข้าถึงผู้บริโภคที่ตรงกลุ่มเป้าหมายมากที่สุด</li>-->
            <!--<li>การจัดทำข้อมูลและเครื่องมือต่างๆ เพื่อช่วยลูกค้าในการตัดสินใจเลือกผลิตภัณฑ์ได้ง่ายขึ้น</li>-->
            <!--<li>การทำมาร์เก็ตติ้งทั้งออนไลน์และออฟไลน์ เพื่อเข้าถึงกลุ่มลูกค้าได้หลากหลาย</li>-->
            <!--<li>การจัดทำระบบการสั่งซื้อเพื่อขายสินค้าของคุณ รวมถึงระบบแจ้งเตือนเมื่อมีการสั่งซื้อ</li>-->
            <!--<li>สำหรับบริษัทที่ไม่มีในไทย ทางเรามีการบริการนำเข้า จัดทำข้อมูล และโปรโมทผลิตภัณฑ์ผ่านทาง Choicechecker</li>-->
        <!--</ol>-->
        <!--&lt;!&ndash; 1.	การจัดทำข้อมูลที่ถูกต้อง ตามหลักความเป็นจริง ทางวิทยาศาสตร์ เพื่อให้ลูกค้าเข้าใจและรู้สึกสนใจในผลิตภัณฑ์เหล่านั้น รวมถึงมีระบบที่ช่วยให้ผลิตภัณฑ์ของบริษัทคุณเข้าถึงผู้บริโภคที่ตรงกลุ่มเป้าหมายมากที่สุด<br>-->
        <!--2.	การจัดทำข้อมูลและเครื่องมือต่างๆ เพื่อช่วยลูกค้าในการตัดสินใจเลือกผลิตภัณฑ์ได้ง่ายขึ้น<br>-->
        <!--3.	การทำมาร์เก็ตติ้งทั้งออนไลน์และออฟไลน์ เพื่อเข้าถึงกลุ่มลูกค้าได้หลากหลาย<br>-->
        <!--4.	การจัดทำระบบการสั่งซื้อเพื่อขายสินค้าของคุณ รวมถึงระบบแจ้งเตือนเมื่อมีการสั่งซื้อ<br>-->
        <!--5.	สำหรับบริษัทที่ไม่มีในไทย ทางเรามีการบริการนำเข้า จัดทำข้อมูล และโปรโมทผลิตภัณฑ์ผ่านทาง Choicechecker<br> &ndash;&gt;-->
        <!--<br>-->
        <!--<p>สนใจร่วมงานกับเรา คลิกที่นี่ <a routerLink="/contact" routerLinkActive="active">Contact us</a>-->
         <!--</p>-->
    <!--</div>-->
    <!--&lt;!&ndash; <div class="col-6" >-->
        <!--<img src="../assets/img/about-bg.jpg">-->
    <!--</div> &ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="header">เกี่ยวกับเรา</h1>
      <p>
        ปฏิเสธไม่ได้ว่า ใครๆก็อยากมีผิวพรรณและรูปร่างที่ดีเพื่อเพิ่มความมั่นใจและโอกาสต่างๆในชีวิตทั้งด้านการงานการ เรียนความรักเป็นต้น ChoiceChecker เข้าใจความรู้สึกของทกุคนและตระหนักถึงความสาคัญในจดุนี้เพราะพวกเราก็เคย ประสบปัญหาเหล่านี้เช่นกัน จึงต้องการเป็นส่วนหนึ่งเพื่อช่วยคณุ แก้ปัญหาและตามหาสิ่งที่ใช่ที่สุดสำหรับตัวคุณ
      </p>
      <p>
        ปัจจุบันในท้องตลาดมีสกินแคร์และอาหารเสริมมากมายแต่ติดปัญหาอยู่ที่ว่าพวกเราสับสนไม่รู้ว่าสิ่งไหนเชื่อได้หรือ เชื่อไม่ได้ และสิ่งไหนที่เหมาะสมที่สุด <b>สุดท้ายไม่สามารถตัดสินใจเลือกส่ิงที่ใช่ท่ีสุดให้กับตัวเองได้</b>
      </p>
      <p>
        ChoiceChecker จึงรวบรวมแนวทางการดูแลและวิธีการแก้ปัญหาที่ก่อให้เกิดผลลพัธ์ดีที่สุดจากผู้ใช้จริงและเลือกสรร ผลิตภัณฑ์ที่ปลอดภัยเพื่อมาเป็นแนะนำให้กับผู้บริโภคใช้กฎเกณฑ์อ้างอิงเป็นไปตามหลักวิทยาศาสตร์และควบคุมดูแลโดย ทีมงานคณุภาพทั้งบุคคลากรทางการแพทย์และนักวิทยาศาสตร์
      </p>
      <p>
        จุดประสงค์หลักของ ChoiceChecker คาดหวังว่าทุกคนจะเลือกสิ่งที่ใช่ท่ีสุดแล้วเกิดประสิทธิภาพสูงสุดมีความสุขและ สนุกสนานในการใช้ชีวิต <a routerLink="/contact" routerLinkActive="active">สนใจร่วมงานกับเราติดต่อเรา</a>
      </p>
    </div>
    <div class="col-6 img-container">
      <img src="../../assets/img/about-bg.jpg" />
    </div>
  </div>
  <div class="row">
    <div class="col-12 border-block">
      <p class="header">สิ่งที่คุณจะพบแน่นอนใน Choicechecker สำหรับลูกค้า</p>
      <ol>
        <li>ข้อมลูและรีวิวของผลิตภณัฑ์สกินแคร์และอาหารเสริมอย่างละเอียด</li>
        <li>แนวต่างการดูแลและแก้ปัญหาต่างๆที่ก่อให้เกิดผลลพัธ์ดีที่สุดจากผู้ใช้จริง</li>
        <li>ระบบช่วยสนับสนุนช่วยผู้บริโภคในการสืบค้นหาผลิตภณัฑ์ที่เหมาะสมกับตัวเอง และระบบบริการให้คำปรึกษาและช่วยแก้ปัญหา</li>
        <li>กระดานแลกเปลี่ยนความคิดเห็น ประสบการณ์ในการดูแลตัวเอง ที่ทุกคนสามารถเข้ามาร่วมสนุกได้ตลอดเวลา</li>
        <li>ช่องทางการซื้อสินค้าที่สะดวก ใช้งานง่าย และมีความน่าเชื่อถือสูง</li>
      </ol>
    </div>
  </div>
</div>
