<div class="container">
    <div class="row">
        <div class="col-6">
    <h1 class="pink" style="margin-top: 50px">ABOUT US</h1>
    <p>comment comment blah blah comment comment blah blahcomment comment blah blahcomment comment blah blahcomment comment
        blah blahcomment comment blah blahcomment comment blah blahcomment comment blah blah comment comment blah blah comment comment blah blahcomment comment blah blahcomment comment blah blahcomment comment
        blah blahcomment comment blah blahcomment comment blah blahcomment comment blah blah comment comment blah blah comment comment blah blahcomment comment blah blahcomment comment blah blahcomment comment
        blah blahcomment comment blah blahcomment comment blah blahcomment comment blah blah comment comment blah blah comment comment blah blahcomment comment blah blahcomment comment blah blahcomment comment
        blah blahcomment comment blah blahcomment comment blah blahcomment comment blah blah comment comment blah blah comment comment blah blahcomment comment blah blahcomment comment blah blahcomment comment
        blah blahcomment comment blah blahcomment comment blah blahcomment comment blah blah comment comment blah blah comment comment blah blahcomment comment blah blahcomment comment blah blahcomment comment
        blah blahcomment comment blah blahcomment comment blah blahcomment comment blah blah </p>
    </div></div>
</div>
