.pink{
    color:#F06F7F;
}

.container{
    background-image: url(../../assets/img/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    margin-right:0; 
}