.main-container {

      margin: 0 auto; 
      // overflow: hidden;

      @media (min-width: 1024px) {
        display: flexbox;
        // position: relative;
        // width: 100%;
        max-width: 1200px;
        justify-content: space-between;
        margin: 0 auto;
      }
}