.main-container {
    

    @media (max-width: 2560px) {
        // padding-left: 20px;
        // padding-right: 20px;
        width: 1600px;
        margin:  auto;
      }


      @media (max-width: 1440px) {
        // padding-left: 50px;
        // padding-right: 50px;
        width: 1350px;
        margin:  auto;
      }

      @media (max-width: 1400px) {
        // padding-left: 50px;
        // padding-right: 50px;
        width: 400px;
        margin:  auto;
      }


      @media (max-width: 1400px) {
        // padding-left: 50px;
        // padding-right: 50px;
        width: 400px;
        margin:  auto;
      }
}