<div class="row set-padding">
  <div class="col-7 bg-gradient-left">
    <img src="../assets/img/lip-pack.png" style="display: block; width: 50%;float:right">
  </div>
  <div class="col-5 bg-gradient-right">
    <!-- <div class="align-middle">
        <h2>text text</h2>
        <p>blah blah blah</p>
        <button class="btn-pink-2">SHOP NOW</button>
      </div> -->
  </div>
</div>
<div class="row">
  <!-- nav -->
  <div class="col-3 bg-pink">
    <h1>REVIEW</h1>
    <!-- <div class="container sidenav" style="padding-top: 10px; padding-left:0;">
        <div class="sidenav-header ">
          <h6>CATTEGORY</h6>
        </div>
        <ul class="sidenav-menu">
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">Skincare</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">Perfume</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">Make up</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="Body">Skincare</a>
          </li>
        </ul>
      </div> -->
    <!-- <div class="container sidenav" style="padding-left:0;">
        <div class="sidenav-header ">
          <h6>BRAND</h6>
        </div>
        <ul class="sidenav-menu">
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">ALL</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">BRAND1</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">BRAND2</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="Body">BRAND3</a>
          </li>
        </ul>
      </div> -->
  </div>
  <!-- product -->
  <div class="col-9" style="padding-top: 10px">
    <div class="row card-deck">
      <div class="card card-product">
        <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
        <a routerLink="/review/:id" routerLinkActive="active">
          <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a routerLink="/review/:id" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <!-- <i class="fa fa-shopping-cart"></i> -->
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
          <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
        </div>
      </div>
      <div class="card card-product">
        <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
        <a routerLink="/review/:id" routerLinkActive="active">
          <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a routerLink="/review/:id" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <!-- <i class="fa fa-shopping-cart"></i> -->
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
          <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
        </div>
      </div>
      <div class="card card-product">
        <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
        <a routerLink="/review/:id" routerLinkActive="active">
          <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a routerLink="/review/:id" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <!-- <i class="fa fa-shopping-cart"></i> -->
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
          <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
        </div>
      </div>
      <div class="card card-product">
        <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
        <a routerLink="/review/:id" routerLinkActive="active">
          <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a routerLink="/review/:id" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <!-- <i class="fa fa-shopping-cart"></i> -->
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
          <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <i class="fa fa-plus pink-plus text-center"></i>
      </div>
      <div class="col-10 pagination">
        <ngb-pagination [collectionSize]="70" [pageSize]="40" [(page)]="currentPage"></ngb-pagination>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<div class="row" style="padding-top: 10px">
    <!-- nav -->
    <div class="col-3 bg-pink">
      <h1>COMMUNITY</h1>
      <!-- <div class="container sidenav" style="padding-top: 10px; padding-left:0;">
          <div class="sidenav-header ">
            <h6>CATTEGORY</h6>
          </div>
          <ul class="sidenav-menu">
            <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">Skincare</a>
            </li>
            <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">Perfume</a>
            </li>
            <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">Make up</a>
            </li>
            <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="Body">Skincare</a>
            </li>
          </ul>
        </div> -->
      <!-- <div class="container sidenav" style="padding-left:0;">
          <div class="sidenav-header ">
            <h6>BRAND</h6>
          </div>
          <ul class="sidenav-menu">
            <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">ALL</a>
            </li>
            <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">BRAND1</a>
            </li>
            <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">BRAND2</a>
            </li>
            <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="Body">BRAND3</a>
            </li>
          </ul>
        </div> -->
    </div>
    <!-- product -->
    <div class="col-9" style="padding-top: 10px">
      <div class="row card-deck">
        <div class="card card-product">
          <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
          <a routerLink="/subproduct" routerLinkActive="active">
            <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
            <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <!-- <h5 class="card-title">Card title</h5> -->
            <a routerLink="/subproduct" routerLinkActive="active">
              <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
            </a>
            <div class="row" style="padding-left: 13px">
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle-thin color-pink"></i>
              <i class="fa fa-circle-thin color-pink"></i>
              <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
            </div>
            <b>฿159</b>
            <p class="discount">- 20%</p>
            <br>
            <del class="card-text-small">฿199</del>
            <!-- <i class="fa fa-shopping-cart"></i> -->
            <button type="button" class="btn btn-primary btn-circle btn-cart">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
          </div>
        </div>
        <div class="card card-product">
          <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
          <a routerLink="/subproduct" routerLinkActive="active">
            <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
            <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <!-- <h5 class="card-title">Card title</h5> -->
            <a routerLink="/subproduct" routerLinkActive="active">
              <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
            </a>
            <div class="row" style="padding-left: 13px">
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle-thin color-pink"></i>
              <i class="fa fa-circle-thin color-pink"></i>
              <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
            </div>
            <b>฿159</b>
            <p class="discount">- 20%</p>
            <br>
            <del class="card-text-small">฿199</del>
            <!-- <i class="fa fa-shopping-cart"></i> -->
            <button type="button" class="btn btn-primary btn-circle btn-cart">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
          </div>
        </div>
        <div class="card card-product">
          <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
          <a routerLink="/subproduct" routerLinkActive="active">
            <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
            <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <!-- <h5 class="card-title">Card title</h5> -->
            <a routerLink="/subproduct" routerLinkActive="active">
              <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
            </a>
            <div class="row" style="padding-left: 13px">
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle-thin color-pink"></i>
              <i class="fa fa-circle-thin color-pink"></i>
              <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
            </div>
            <b>฿159</b>
            <p class="discount">- 20%</p>
            <br>
            <del class="card-text-small">฿199</del>
            <!-- <i class="fa fa-shopping-cart"></i> -->
            <button type="button" class="btn btn-primary btn-circle btn-cart">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
          </div>
        </div>
        <div class="card card-product">
          <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
          <a routerLink="/subproduct" routerLinkActive="active">
            <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
            <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <!-- <h5 class="card-title">Card title</h5> -->
            <a routerLink="/subproduct" routerLinkActive="active">
              <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
            </a>
            <div class="row" style="padding-left: 13px">
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle color-pink "></i>
              <i class="fa fa-circle-thin color-pink"></i>
              <i class="fa fa-circle-thin color-pink"></i>
              <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
            </div>
            <b>฿159</b>
            <p class="discount">- 20%</p>
            <br>
            <del class="card-text-small">฿199</del>
            <!-- <i class="fa fa-shopping-cart"></i> -->
            <button type="button" class="btn btn-primary btn-circle btn-cart">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <i class="fa fa-plus pink-plus text-center"></i>
        </div>
        <div class="col-10 pagination">
          <ngb-pagination [collectionSize]="70" [pageSize]="40" [(page)]="currentPage"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>