<div>
  <img src="../assets/img/cover1.jpg" style="width: 100%;">
</div>
<div class="row">
  <div class="col-3 bg-pink">
    <h1 class="rotate">REVIEW</h1>
  </div>
  <div class="col-9" style="padding-top: 10px">
    <div class="row card-deck">
      <div class="card card-product">
        <a routerLink="/review/:id" routerLinkActive="active">
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <a routerLink="/review/:id" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="card card-product">
        <a routerLink="/review/:id" routerLinkActive="active">
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <a routerLink="/review/:id" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="card card-product">
        <a routerLink="/review/:id" routerLinkActive="active">
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <a routerLink="/review/:id" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="card card-product">
        <a routerLink="/review/:id" routerLinkActive="active">
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <a routerLink="/review/:id" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <a routerLink="/form/review" routerLinkActive="active">
          <i class="fa fa-plus pink-plus text-center"></i>
        </a>
      </div>
      <div class="col-10 pagination">
        <ngb-pagination [collectionSize]="70" [pageSize]="40" [(page)]="currentPage"></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 10px">
  <div class="col-3 bg-pink">
    <h1 class="rotate">COMMUNITY</h1>
  </div>
  <div class="col-9" style="padding-top: 10px">
    <div class="row card-deck">
      <div class="card card-product">
        <a routerLink="/subproduct" routerLinkActive="active">
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <a routerLink="/subproduct" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="card card-product">
        <a routerLink="/subproduct" routerLinkActive="active">
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <a routerLink="/subproduct" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="card card-product">
        <a routerLink="/subproduct" routerLinkActive="active">
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <a routerLink="/subproduct" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
      <div class="card card-product">
        <a routerLink="/subproduct" routerLinkActive="active">
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <a routerLink="/subproduct" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <button type="button" class="btn btn-primary btn-circle btn-cart">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <a routerLink="/form/review" routerLinkActive="active">
          <i class="fa fa-plus pink-plus text-center"></i>
        </a>
      </div>
      <div class="col-10 pagination">
        <ngb-pagination [collectionSize]="70" [pageSize]="40" [(page)]="currentPage"></ngb-pagination>
      </div>
    </div>
  </div>
</div>