<!-- <div class="container"> -->
<!-- <app-navbar></app-navbar> -->
<div>
  <carousel>
    <slide>
      <img class="set-carousel" src="../assets/img/cover1.jpg" alt="first slide">
    </slide>
    <slide>
      <img class="set-carousel" src="../assets/img/cover2.jpg" alt="second slide">
    </slide>
    <slide>
      <img class="set-carousel" src="../assets/img/cover3.jpeg" alt="third slide">
    </slide>
  </carousel>
</div>
<div class="set-padding row">
  <div class="col-md-3" style="padding-left: 0; padding-right: 0">
    <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="text-on-img-left" style="color: white">
      <h4>HEADER</h4>
      <p>is simply is simply</p>
      <button class="btn-on-img-pink" (click)="onClickTenYear()" type="button">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 0; padding-right: 0">
    <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="text-on-img-left" style="color: white">
      <h4>HEADER</h4>
      <p>is simply is simply</p>
      <button class="btn-on-img-pink" (click)="onClickSkinType()" type="button">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 0; padding-right: 0">
    <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="text-on-img-left" style="color: white">
      <h4>HEADER</h4>
      <p>is simply is simply</p>
      <button class="btn-on-img-pink" (click)="onClickSkinProblem()" type="button">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3" style="padding-left: 0; padding-right: 0">
    <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="text-on-img-left" style="color: white">
      <h4>HEADER</h4>
      <p>is simply is simply</p>
      <button class="btn-on-img-pink" (click)="onClickForm()" type="button">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="../assets/img/4.jpg" alt="second slide" style="display: block; width: 100%;">
    </div>
    <div class="col-md-6">
      <div style="padding-bottom: 5px" class="text-left">
        <h1 style="font-size: 3vw">
          <!-- <b>_______ -->
          <hr style="height:6px;border:none;color:#333;background-color:#333; width: 30%; float: left;">
          <b><br>CHOICE CHECKER</b>
          <br>COMMUNITY
          <br>
          <hr style="height:6px;border:none;color:#333;background-color:#333; width: 32%; float: left;">
          <br>
          <!-- <b>_____</b> -->
        </h1>
        <p>simple simplesimplesimplesimplesimplesimplesimplesimplesimplesimplesimple</p>
        <br>
        <button class="btn btn-click" routerLink="/article">Click</button>
      </div>
      <div class="row">
        <div class="col-6" style="padding-top: 10px">
          <img src="../assets/img/8.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="text-on-img-bg container text-center">
            <p>
              <b>Smooth Skin Challenge</b>
              <br>Final Results
            </p>
          </div>
        </div>
        <div class="col-6" style="padding-top: 10px">
          <img src="../assets/img/8.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="text-on-img-bg container text-center">
            <p>
              <b>Smooth Skin Challenge</b>
              <br>Final Results
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: white; padding-top: 20px">
    <div style="padding-top: 10px">
      <h4 class="text-center">REVIEW PRODUCTS</h4>
    </div>
    <carousel>
      <!-- <slide> -->
      <div class="card-deck">
        <div class="card">
          <a routerLink="/review/:id">
            <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text-small">This is a longer card with supporting text below as a natural lead-in to additional
            </p>
          </div>
        </div>
        <div class="card">
          <a routerLink="/review/:id">
            <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text-small">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <a routerLink="/review/:id">
            <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text-small">This is a wider card with supporting text below as a natural lead-in to additional
            </p>
          </div>
        </div>
      </div>
      <!-- </slide>
    <slide> -->
      <div class="card-deck">
        <div class="card">
          <a routerLink="/review/:id">
            <img src="../assets/img/9.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <p class="card-text-small">This is a longer card with supporting text below as a natural lead-in to additional</p>
          </div>
        </div>
        <div class="card">
          <a routerLink="/review/:id">
            <img src="../assets/img/9.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <p class="card-text-small">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <a routerLink="/review/:id">
            <img src="../assets/img/9.jpg" alt="first slide" style="display: block; width: 100%;">
          </a>
          <div class="card-body" style="background-color: white">
            <p class="card-text-small">This is a wider card with supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
        </div>
      </div>
    </carousel>
  </div>

  <div class="card-deck" style="padding-top: 30px">
    <div class="card" style="background-color: white">
      <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
      <div class="card-body text-center">
        <!-- <div style="position: relative; height: 0; padding-bottom: 56.25%"> -->
        <div>
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe> -->
          <!-- <iframe style="width:100%; height:auto;" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe> -->
          <img src="../assets/img/6.jpg" alt="first slide" style="display: block; width: 100%;">
        </div>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting </p>
      </div>
    </div>

    <div class="card" style="background-color: white">
      <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
      <div class="card-body text-center">
        <!-- <div style="position: relative; height: 0; padding-bottom: 56.25%"> -->
        <div style="display: block; width: 100%; padding: 0 0 0 0;">
          <iframe width="340" height="300" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
          <!-- <iframe style="width:100%; height:auto;" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe> -->
        </div>
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text </p>
      </div>
    </div>

    <div class="card" style="background-color: white">
      <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
      <div class="card-body text-center">
        <!-- <div style="position: relative; height: 0; padding-bottom: 56.25%"> -->
        <div style="display: block; width: 100%; padding: 0 0 0 0;">
          <iframe width="340" height="300" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
          <!-- <iframe style="width:100%; height:auto;" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe> -->
        </div>

        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with </p>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 30px">
    <div class="col-md-4">
      <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text-on-img text-center">
        <hr style="border: 1px solid white">
        <h4>NEW PRODUCTS</h4>
        <hr style="border: 1px solid white">
        <p>is simply is simply is simply is simply is simply is simply</p>
        <button class="btn-on-img" type="button">CLICK</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 13rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 120%;">
            <div class="card-body">
              <p class="card-text-small">Some quick example text to build
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 13rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 120%;">
            <div class="card-body">
              <p class="card-text-small">Some quick example text to build
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 13rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 120%;">
            <div class="card-body">
              <p class="card-text-small">Some quick example text to build
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-bottom: 10px">
    <div class="col-md-4">
      <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text-on-img text-center">
        <hr style="border: 1px solid white">
        <h4>NEW PRODUCTS</h4>
        <hr style="border: 1px solid white">
        <p>is simply is simply is simply is simply is simply is simply</p>
        <button class="btn-on-img" type="button">CLICK</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 13rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 120%;">
            <div class="card-body">
              <p class="card-text-small">Some quick example text to build
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 13rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 120%;">
            <div class="card-body">
              <p class="card-text-small">Some quick example text to build
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 13rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 120%;">
            <div class="card-body">
              <p class="card-text-small">Some quick example text to build
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
<!-- </div> -->