<!-- <div class="container"> -->
  <!-- <app-navbar></app-navbar> -->
  <div>
    <carousel>
      <slide>
        <img class="set-carousel" src="../assets/img/1.jpg" alt="first slide">
      </slide>
      <slide>
        <img class="set-carousel" src="../assets/img/2.jpg" alt="second slide">
      </slide>
      <slide>
        <img class="set-carousel" src="../assets/img/3.jpg" alt="third slide">
      </slide>
    </carousel>
  </div>
  <div class="set-padding row">
    <div class="col-md-3" style="padding-left: 0; padding-right: 0">
      <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text-on-img-left" style="color: white">
        <h4>HEADER</h4>
        <p>is simply is simply</p>
        <button class="btn-on-img-pink" type="button"> > </button>
      </div>
    </div>
    <div class="col-md-3" style="padding-left: 0; padding-right: 0">
      <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text-on-img-left" style="color: white">
        <h4>HEADER</h4>
        <p>is simply is simply</p>
        <button class="btn-on-img-pink" type="button"> > </button>
      </div>
    </div>
    <div class="col-md-3" style="padding-left: 0; padding-right: 0">
      <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text-on-img-left" style="color: white">
        <h4>HEADER</h4>
        <p>is simply is simply</p>
        <button class="btn-on-img-pink" type="button"> > </button>
      </div>
    </div>
    <div class="col-md-3" style="padding-left: 0; padding-right: 0">
      <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text-on-img-left" style="color: white">
        <h4>HEADER</h4>
        <p>is simply is simply</p>
        <button class="btn-on-img-pink" type="button"> > </button>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
    </div>
    <div class="col-md-6">
      <div style="padding-bottom: 5px" class="text-left">
        <h2>
          <b>_____
            <br>
            <br>CHOICE CHECKER </b>
          <br> COMMUNITY
          <br>
          <b>_____</b>
        </h2>
        <p>simple simplesimplesimplesimplesimplesimplesimple simplesimplesimplesimplesimplesimple</p>
        <button class="btn btn-lg" style="background-color: pink; color: white">Click</button>
      </div>
      <div class="row">
        <div class="col-6" style="padding-top: 10px">
          <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="text-on-img-bg">
            <p>
              <b>Smooth Skin Challenge</b>
              <br>Final Results
            </p>
          </div>
        </div>
        <div class="col-6" style="padding-top: 10px">
          <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="text-on-img-bg">
            <p>
              <b>Smooth Skin Challenge</b>
              <br>Final Results
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #F1F2F3">
    <div style="padding-top: 10px">
      <h4>REVIEW PRODUCTS</h4>
    </div>
    <div class="card-deck">
      <div class="card">
        <img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="card-body" style="background-color: #F1F2F3">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a
            little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="card-body" style="background-color: #F1F2F3">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="card-body" style="background-color: #F1F2F3">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even
            longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck" style="padding-top: 40px">
    <div class="card" style="background-color: #F7F8FC">
      <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
      <div style="position: relative; height: 0; padding-bottom: 56.25%">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
      </div>
    </div>
    <div class="card" style="background-color: #F7F8FC">
      <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
      <div style="position: relative; height: 0; padding-bottom: 56.25%">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
    <div class="card" style="background-color: #F7F8FC">
      <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
      <div style="position: relative; height: 0; padding-bottom: 56.25%">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IMEE1_zhfhs" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer
          content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px">
    <div class="col-md-4">
      <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text-on-img" style="color: white">
        <h4>NEW PRODUCTS</h4>
        <hr style="border: 1px solid white">
        <br>
        <p>is simply is simply is simply is simply is simply is simply is simply is simply</p>
        <button class="btn-on-img" type="button">CLICK</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px">
    <div class="col-md-4">
      <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
      <div class="text-on-img" style="color: white">
        <h4>NEW PRODUCTS</h4>
        <hr style="border: 1px solid white">
        <br>
        <p>is simply is simply is simply is simply is simply is simply is simply is simply</p>
        <button class="btn-on-img" type="button">CLICK</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- <app-footer></app-footer> -->
<!-- </div> -->