<div>
  <app-navbar></app-navbar>
</div>
<div>
  <carousel>
    <slide>
      <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="../assets/img/3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>
<div class="row">
  <div class="col-md-3">
    <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-3">
    <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-3">
    <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-3">
    <img src="../assets/img/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <p>CHOICE CHECKER <br> COMMUNITY</p>
      <p>simple simplesimplesimplesimplesimplesimplesimple simplesimplesimplesimplesimplesimple</p>
      <button class="btn btn-sm" style="background-color: pink; color: white">Click</button>
    </div>
    <div class="col-md-6" style="padding-top: 10px">
      <img src="../assets/img/2.jpg" alt="second slide" style="display: block; width: 100%;">
    </div>
  </div>
</div>
<div style="padding-top: 10px">
  <h4>REVIEW PRODUCTS</h4>
</div>
<div class="card-deck">
  <div class="card">
    <img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card">
    <img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>

<div class="card-deck" [ngModel]="videoList">
  <div class="card">
    <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card">
    <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card">
    <!--<img src="../assets/img/3.jpg" alt="first slide" style="display: block; width: 100%;">-->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
