<div class="text-center pink-bg set-padding">
    <h1 style="color: white;">CONTACT US</h1>
    <p style="color: white">Our customer care is ready to hear from you.</p>
</div>
<div class="row">
    <div class="col-6">
        <h1>Reach out to us!</h1>
        <p>Our customer care is ready to hear from you.Our customer care is ready to hear from you.Our customer care is ready
            to hear from you.</p>
        <input class="input" placeholder="First Name">
        <input class="input" placeholder="Last Name">
        <input class="input" placeholder="Your Email Address">
        <input class="input" placeholder="Phone Number">
        <textarea class="input" rows="5" placeholder="Message"></textarea>
        <button class="btn-pink" style="float: right">SUBMIT</button>

    </div>
    <div class="col-6">
        <h1>Customer Care</h1>
        <p>Our customer care is ready to hear from you.Our customer care is ready to hear from you.Our customer care is ready
            to hear from you.</p>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-2">
                <img class="pic" src="../assets/img/1.jpg" alt="Avatar">
            </div>
            <div class="col-10">
                <b><p>Customer Care</p></b>
                <p>Customer Care</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-2">
                <img class="pic" src="../assets/img/1.jpg" alt="Avatar">
            </div>
            <div class="col-10">
                <b><p>Customer Care</p></b>
                <p>Customer Care</p>
            </div>
        </div>

        <h1>Others ways to connect</h1>
        <div class="row">
            <div class="col-2">
                <img class="pic" src="../assets/img/fb.jpeg" alt="Avatar">
            </div>
            <div class="col-10">
                <p>Our customer care is ready to hear from you.Our customer care is ready to hear from you.Our customer care
                    is ready to hear from you.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img class="pic" src="../assets/img/tw.png" alt="Avatar">
            </div>
            <div class="col-10">
                <p>Our customer care is ready to hear from you.Our customer care is ready to hear from you.Our customer care
                    is ready to hear from you.</p>
            </div>
        </div>
    </div>
</div>

<!-- <agm-map [latitude]="latitude" [lomgitute]="lomgitute"></agm-map> -->
<agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>