<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="../assets/img/7.jpg" style="display: block; width: 100%;">
        </div>
        <div class="v-line-center"></div>
        <div class="col-6" style="padding: 50px;">
            <b class="product-name">PRODUCT NAME</b>
        </div>
    </div>
</div>
    <div class="text-center">
        <button>REVIEW</button>
    </div>
    <div class="row align-items-center">
        <div class="col-2">
            <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
        </div>
        <div class="col-2">
            <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
        </div>
        <div class="col-4">
            <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
        </div>
        <div class="col-2">
            <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
        </div>
        <div class="col-2">
            <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
        </div>
    </div>
