<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="../assets/img/7.jpg" style="display: block; width: 100%;">
        </div>
        <div class="v-line-center"></div>
        <div class="col-6" style="padding: 50px;">
            <b class="product-name">PRODUCT NAME</b>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid text-center dark-bg">
  <button class="btn-pink">REVIEW</button>
</div>
<div class="row align-items-center">
  <div class="container">
      <h2 class="line-text" style="color:dimgrey"><span>Related Products</span></h2>
      </div>
  <div class="col-2">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
  <div class="col-2">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
  <div class="col-4">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
  <div class="col-2">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
  <div class="col-2">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
</div>
<div class="row">
  <div class="col-8">
    <hr>
    <b>title</b>
    <p>comment comment blah blah </p>
  </div>
  <div class="col-4" style="background-color: gray;">
    <p>ADs</p>
  </div>
</div>
<div>
  <p>Comment</p>
  <input placeholder="Name">
  <select></select>
  <input placeholder="Comment">
  <button class="btn-red">SUBMIT</button>
</div>

