<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="../assets/img/7.jpg" style="display: block; width: 100%;">
    </div>
    <div class="v-line-center"></div>
    <div class="col-6" style="padding: 50px;">
      
      <b class="product-name">PRODUCT NAME</b>
      <div class="row">
        <i class="fa fa-circle color-pink tab-space"></i>
        <i class="fa fa-circle color-pink tab-space"></i>
        <i class="fa fa-circle color-pink tab-space"></i>
        <i class="fa fa-circle color-pink tab-space"></i>
        <i class="fa fa-circle-thin color-pink tab-space"></i>
      </div>
      <div class="row">
        <p>Rate 4/5   | </p>
        <p style="color: #F06F7F; margin-left: 7px;"> Vote</p>
      </div>

      <!-- <div class="row justitfy-content-center">
        <ul class="nav">
          <li class="nav">
              <a class="nav-link" routerLink="tab1" routerLinkActive="active" name="tab1">SCORE</a>
          </li>
          <li class="nav">
              <a class="nav-link" routerLink="tab2" name="tab2">PROS&CONS</a>
          </li>
          <li class="nav">
              <a class="nav-link" routerLink="tab3" name="tab3">INFO</a>
          </li>
        </ul>
      </div> -->

    


      <!-- <div class="row justitfy-content-center">
        <ul class="nav nav-tabs">
          <li class="active">
              <a data-toggle="tab" href="#score">SCORE</a>
          </li>
          <li class="">
              <a data-toggle="tab" href="#procon" routerLink="tab2" name="tab2">PROS&CONS</a>
          </li>
          <li class="">
              <a data-toggle="tab" href="#info" routerLink="tab3" name="tab3">INFO</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="score" class="tab-pane fade in active">
            <h3>HOME</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div id="procon" class="tab-pane fade">
            <h3>Menu 1</h3>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
          <div id="info" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
          </div>
          
        </div>
      </div> -->

      <div class="row">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="score-tab" aria-controls="score" aria-selected="true">Score</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="procon-tab" aria-controls="procon" aria-selected="false">Pro
              & Con</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="info-tab" aria-controls="info" aria-selected="false">Info</a>
          </li>
        </ul>
        <!-- <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
        </div> -->

        <!-- </div> -->

        <div class="row tab-pane fade show active" id="score" role="tabpanel" aria-labelledby="score-tab">
          <chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart>
          <div class="row">
            <div>
              <p>Topic</p>
              <div class="row">
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
              </div>
              <p>Topic</p>
              <div class="row">
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
              </div>
              <p>Topic</p>
              <div class="row">
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
              </div>
              <p>Topic</p>
              <div class="row">
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
                <i class="fa fa-circle-thin color-pink tab-space"></i>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div class="row jumbotron jumbotron-fluid text-center dark-bg">
  <div class="col-1"></div>
  <div class="col-6" style="border: 8px solid black">
    <div class="row">
      <div class="col-6 set-vertical-center">
        <button class="big-btn-pink" routerLink="/review/:id">REVIEW</button>
      </div>
      <div class="col-6 set-vertical-center">
        <p>blahblahblah blah blah blah blahblahblahblahblahblahblah blahblahblahblahblahblahblahblahb lahblahblahblahblahblahblahblahbl
          ahblahblahblahblahblahblah
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <img src="../assets/img/lip.png">
  </div>
</div>
<div class="row align-items-center">
  <div class="container">
    <h2 class="line-text" style="color:dimgrey">
      <span>Related Products</span>
    </h2>
  </div>
  <div class="col-2">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
  <div class="col-2">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
  <div class="col-4">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
  <div class="col-2">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
  <div class="col-2">
    <img src="../assets/img/10.jpg" style="display: block; width: 100%;">
  </div>
</div>
<div class="row" style="margin-top: 70px">
  <div class="col-8">
    <hr class="line-pink">
    <b>COMMENT NAME</b>
    <p>comment comment blah blah comment comment blah blahcomment comment blah blahcomment comment blah blahcomment comment
      blah blahcomment comment blah blahcomment comment blah blahcomment comment blah blah </p>
    <hr class="line-pink">
    <b>COMMENT NAME</b>
    <p>comment comment blah blah comment comment blah blahcomment comment blah blahcomment comment blah blahcomment comment
      blah blahcomment comment blah blahcomment comment blah blahcomment comment blah blah </p>
    <hr class="line-pink">
  </div>
  <div class="col-4" style="background-color:gray;">
    <p>ADs</p>
  </div>
</div>
<div class="row">
  <div class="col-8">
    <p>LEAVE A COMMENT</p>
    <input class="input-comment" style="width: 50%" placeholder="Name*">
    <select></select>
    <textarea class="input-comment" rows="5" placeholder="Your comment*"></textarea>
    <button class="btn-red" style="float: right">SUBMIT COMMENT</button>
  </div>
</div>
