.v-line-center {
    height: 420px;
    border-right: 4px solid pink;
    align-items: center;
    position: absolute;
    vertical-align: middle;
    left: 50%;
    margin-top: 50px;
}

.product-name{
    font-size: 50px;
}

@media (max-width: 1024px) {
    .v-line-center{
    height: 350px;
    }
  }

  @media (max-width: 1200px) {
    .product-name{
        font-size: 40px;
    }
  }
  
.dark-bg {
    background-color: lightgray;
}

.btn-red {
    background-color: red;
    color: white
}

.btn-pink {
    background-color: pink;
    color: white
}

.line-text {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #F06F7F; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
h2 span { 
     background:#fff; 
     padding:0 10px; 
 }
