<div class="row">
  <div class="col-7" style="text-align: right">
      <img src="../assets/img/lip-pack.png" style="display: block; width: 20%;">
  </div>
  <div class="col-4">
    <h2>text text text</h2>
    <p>blah blah blah</p>
    <button class="btn-pink">SHOP NOW</button>
  </div>
</div>
<div class="row">
  <!-- nav -->
  <div>
    <div>
      <h6>CATTEGORY</h6>
      <ul class="sidenav">
        <li class="sidenav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Skincare</a>
        </li>
        <li class="sidenav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Perfume</a>
        </li>
        <li class="sidenav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Make up</a>
        </li>
        <li class="sidenav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="Body">Skincare</a>
        </li>
      </ul>
    </div>
    <div>
      <h6>BRAND</h6>
      <ul class="sidenav">
        <li class="sidenav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">ALL</a>
        </li>
        <li class="sidenav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">BRAND1</a>
        </li>
        <li class="sidenav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">BRAND2</a>
        </li>
        <li class="sidenav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="Body">BRAND3</a>
        </li>
      </ul>
    </div>
  </div>
  <div></div>
  <!-- product -->
</div>