.set-padding  {
    padding-left: 15px;
    padding-right: 15px; 
}

.btn-pink {
    background-color: #F06F7F;
    color: white
}

.sidenav-menu {
    background-color: lightgray;
    a {
        color: black;
    }
}

.sidenav-header 
{
    text-align: center;
    background-color: #F06F7F;
    color: white;
    padding: 10px;
    h6 {
        margin-bottom: 0;
    }
}

.card-product{
    a {
        color: black;
    }
    a:hover{
        color: #F06F7F;
    }
}

.card-product:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .fav{
        display: block;
    }
}

.card-text-small {
    font-size: 0.8vw;
    // color: black;
  }

.sidenav-item:hover{
    color: #F06F7F;
    a:hover{
        color: #F06F7F;
        text-decoration: none;
    }
}

.discount{
    border: 1px solid #F06F7F;
    color: #F06F7F;
    margin-left: 10px;
    display:inline;
    padding: 2px 6px 2px 6px;
    font-size: 0.7vw;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  }

.btn-cart {
    float: right; 
    background-color:#E7496C;
    border: none;
  }

  .card-body{
      padding-left: 8px;
      padding-right: 8px;

    //   a {
    //       color: black;
    //   }
    //   a:hover{
    //       color: #F06F7F;
    //   }
  }


// .fav{
//   display: none;
// }

.pagination {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.color-pink {
    color: #F06F7F;
}

.bg-gradient-left {
    background-color: #F06F7F;
    // background-image: radial-gradient(white 5%, white 10%, #F06F7F 15%, #E7496C 60%); 
    background-image: linear-gradient(to left, white , #F06F7F);
}

.bg-gradient-right {
    background-color: #F06F7F;
    // background-image: radial-gradient(white 5%, white 10%, #F06F7F 15%, #E7496C 60%); 
    background-image: linear-gradient(to right, white , #F06F7F);
}
