.btn-pink {
    background-color: pink;
    color: white
}

.sidenav {
    background-color: lightgray;
    a {
        color: black;
    }
}

.sidenav-header 
{
    text-align: center;
    background-color: pink;
    color: white;
}