<div class="row set-padding">
  <div class="col-7 bg-gradient-left">
    <img src="../assets/img/lip-pack.png" style="display: block; width: 50%;float:right">
  </div>
  <div class="col-5 bg-gradient-right">
    <div class="align-middle">
      <h2>text text</h2>
      <p>blah blah blah</p>
      <button class="btn-pink-2">SHOP NOW</button>
      <!-- </div> -->
    </div>
  </div>
</div>
<div class="row">
  <!-- nav -->
  <div class="col-3">
    <h5 class="text-center"style="margin-top: 30px">ทั้งหมด</h5>
    <!-- เพศ -->
    <div class="container sidenav" style=" padding-left:0; padding-right: 0">
      <div class="sidenav-header ">
        <h6>เพศ</h6>
      </div>
      <ul class="sidenav-menu">
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ชาย</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">หญิง</a>
        </li>
      </ul>
    </div>
    <!-- อายุ -->
    <div class="container sidenav" style="padding-left:0;padding-right: 0">
      <div class="sidenav-header ">
        <h6>อายุ</h6>
      </div>
      <ul class="sidenav-menu">
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">น้อยกว่า 20 ปี</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">20-30 ปี</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">31-40 ปี</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="Body">41-50 ปี</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="Body">51-60 ปี</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="Body">ตั้งแต่ 60 ปีขึ้นไป</a>
        </li>
      </ul>
    </div>
    <!-- BMI -->
    <h5 class="text-center"style="margin-top: 30px">สำหรับดูแลหุ่น</h5>
    <div class="container sidenav" style="padding-left:0;padding-right: 0">
      <div class="sidenav-header ">
        <h6>BMI</h6>
      </div>
      <ul class="sidenav-menu">
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">น้อยกว่า 18.50</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ระหว่าง 18.50-22.90</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ระหว่าง 23-24.90</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ระหว่าง 25-29.90</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">มากกว่า 30</a>
        </li>
      </ul>
    </div>
    <!-- วัตถุประสงค์การใช้ -->
    <div class="container sidenav" style="padding-left:0;padding-right: 0">
        <div class="sidenav-header ">
          <h6>วัตถุประสงค์การใช้</h6>
        </div>
        <ul class="sidenav-menu">
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">ยับยั้ง/ลดการดูดซึมแป้ง และน้ำตาล</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">ยับยั้ง/ลดการดูดซึมไขมัน</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">ยับยั้ง/ลดการดูดซึมแป้ง น้ำตาลและไขมัน</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">เร่งกระบวนการเผาผลาญสารอาหารในร่างกาย</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">สร้างกล้ามเนื้อ</a>
          </li>
          <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">เพิ่มประสิทธิภาพระบบย่อยอาหาร</a>
            </li>
        </ul>
      </div>
  
  <!-- สภาพผิวหน้า -->
  <h5 class="text-center"style="margin-top: 30px">สำหรับผิวหน้า</h5>
   <div class="container sidenav" style="padding-left:0;padding-right: 0">
      <div class="sidenav-header ">
        <h6>สภาพผิวหน้า</h6>
      </div>
      <ul class="sidenav-menu">
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ผิวหน้ามัน</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ผิวหน้าผสม</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ผิวหน้าปกติ</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ผิวหน้าแห้ง</a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ผิวหน้าแห้งภายใน</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">ผิวหน้าเปราะบาง แพ้ง่าย</a>
          </li>
      </ul>
    </div> 
<!-- วัตถุประสงค์การใช้ -->
<div class="container sidenav" style="padding-left:0;padding-right: 0">
    <div class="sidenav-header ">
      <h6>วัตถุประสงค์การใช้</h6>
    </div>
    <ul class="sidenav-menu">
      <li class="sidenav-item">
        <a class="sidenav-link" routerLinkActive="active">ทำความสะอาด</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" routerLinkActive="active">รักษาสิว รอยสิว</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" routerLinkActive="active">บำรุงผิวขาวกระจ่างใส</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" routerLinkActive="active">ลดเลือนฝ้า กระ จุดด่างดำ</a>
      </li>
      <li class="sidenav-item">
        <a class="sidenav-link" routerLinkActive="active">ลดเลือนริ้วรอย</a>
      </li>
      <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">กระชับรูขุมขน</a>
        </li>
      <li class="sidenav-item">
          <a class="sidenav-link" routerLinkActive="active">ดูแลรูขุมขนอุดตัน</a>
        </li>
      <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">ให้ความชุ่มชื้นและสดชื่น</a>
        </li>
        <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">ควบคุมความมัน</a>
          </li>
          <li class="sidenav-item">
            <a class="sidenav-link" routerLinkActive="active">ดูแลผิวเปราะบาง แพ้ง่าย</a>
          </li>
          <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">กันแดด</a>
            </li>
          <li class="sidenav-item">
              <a class="sidenav-link" routerLinkActive="active">บำรุงผิวกาย</a>
            </li>
          <li class="sidenav-item">
                <a class="sidenav-link" routerLinkActive="active">บำรุงรอบดวงตา</a>
            </li>
    </ul>
  </div> 
</div>

  <!-- product -->
  <div class="col-9" style="padding-top: 10px">
    <div class="row card-deck">
      <div class="card card-product">
        <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
        <a routerLink="/subproduct" routerLinkActive="active">
          <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a routerLink="/subproduct" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <!-- <button type="button" class="btn btn-primary btn-circle btn-cart"> -->
            <!-- <i class="fa fa-shopping-cart"></i> -->
          <!-- </button> -->
        </div>
      </div>
      <div class="card card-product">
        <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
        <a routerLink="/subproduct" routerLinkActive="active">
          <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a routerLink="/subproduct" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <!-- <button type="button" class="btn btn-primary btn-circle btn-cart"> -->
            <!-- <i class="fa fa-shopping-cart"></i> -->
          <!-- </button> -->
        </div>
      </div>
      <div class="card card-product">
        <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
        <a routerLink="/subproduct" routerLinkActive="active">
          <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a routerLink="/subproduct" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <!-- <button type="button" class="btn btn-primary btn-circle btn-cart"> -->
            <!-- <i class="fa fa-shopping-cart"></i> -->
          <!-- </button> -->
        </div>
      </div>
      <div class="card card-product">
        <!-- <i class="fa fa-heart-o" id="heart-icon" style="float: right; color: #F06F7F" (click)="toggleHeart()"></i> -->
        <a routerLink="/subproduct" routerLinkActive="active">
          <!-- <i class="fa fa-heart-o fav" style="float: right; color: #F06F7F"></i> -->
          <img src="../assets/img/lip-product.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <a routerLink="/subproduct" routerLinkActive="active">
            <p class="card-text-small">Golden Rose Matte lipstick crayon 3.5g #10 </p>
          </a>
          <div class="row" style="padding-left: 13px">
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle color-pink "></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <i class="fa fa-circle-thin color-pink"></i>
            <p style="color: black; padding-left: 10px">3.5 / 5.0</p>
          </div>
          <b>฿159</b>
          <p class="discount">- 20%</p>
          <br>
          <del class="card-text-small">฿199</del>
          <!-- <button type="button" class="btn btn-primary btn-circle btn-cart"> -->
            <!-- <i class="fa fa-shopping-cart"></i> -->
          <!-- </button> -->
        </div>
      </div>
    </div>
    <!-- <div class="row"> -->
    <!-- <div class="col-2">
          <i class="fa fa-plus pink-plus text-center"></i>
      </div> -->
    <div class="pagination">
      <ngb-pagination [collectionSize]="70" [pageSize]="40" [(page)]="currentPage"></ngb-pagination>
    </div>
    <!-- </div> -->
  </div>
</div>
<!-- </div> -->