<mat-dialog-content *ngIf="isResult == false">
  <div *ngIf="currentQuestion == null">
    <h2>อีก 10 ปีจะอ้วนแบบไหนมากที่สุด</h2>
    <h3>1. อาหารไหนที่คุณโปรดปรานมากที่สุด เรียงลำดับจากมากไปน้อย</h3>
    <div>
      <div class="food-type" (click)="addFoodType('A')" style="border: 1px solid black; width: 250px; display: inline-block;">
        <h3><b>A. ของหวาน เค้ก บิงซู ไอศกรีม</b></h3>
        <h3>ใครชวนกิน ไม่เคยปฏิเสธ</h3>
      </div>
      <div class="food-type" (click)="addFoodType('B')" style="border: 1px solid black; width: 250px; display: inline-block;">
        <h3><b>B. บะหมี่กึ่งสำเร็จรูป อาหารนอกบ้าน</b></h3>
        <h3>สะดวก อร่อย ไม่ต้องเสียเวลา</h3>
      </div>
      <div class="food-type" (click)="addFoodType('C')" style="border: 1px solid black; width: 250px; display: inline-block;">
        <h3><b>C. เบียร์ วิสกี้ ค็อกเทล</b></h3>
        <h3>เรื่องสังสรรค์ไว้ใจเราไม่เคยพลาด</h3>
      </div>
      <div class="food-type" (click)="addFoodType('D')" style="border: 1px solid black; width: 250px; display: inline-block;">
        <h3><b>D. กล้วยทอด เฟรนฟรายด์ ลูกชิ้นทอด ไก่ทอด</b></h3>
        <h3>พูดแล้วอู้ว..หู หยุดไม่ได้จริงๆ</h3>
      </div>
    </div>
    <div> 
      <h3>คำตอบ <span *ngFor="let food of foods">{{food}} </span></h3>
      <button (click)="onNextBtn()">ถัดไป</button>
    </div>
  </div>
  <div *ngIf="currentQuestion != null">
      <div *ngIf="currentQuestion == 'A'">
          <h2>แบบสอบถาม A</h2>
          <form [formGroup]="QA" (ngSubmit)="onQASubmit()">
            <div class="form-control">
              <label for="a1">เวลาเครียดทีไรทานของหวานเสมอ</label>
              <input type="radio" name="a1" formControlName="a1" value="true" required> ใช่
              <input type="radio" name="a1" formControlName="a1" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="a2">เวลาทานข้าวมัก<b>เน้นข้าวหรือเส้นมากกว่า</b>ผักและเนื้อสัตว์</label>
              <input type="radio" name="a2" formControlName="a2" value="true" required> ใช่
              <input type="radio" name="a2" formControlName="a2" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="a3">เมื่อถึงมื้ออาหาร ถ้าไม่ได้ทานข้าวหรือ เส้นด้วยจะไม่รู้สึกอิ่ม</label>
              <input type="radio" name="a3" formControlName="a3" value="true" required> ใช่
              <input type="radio" name="a3" formControlName="a3" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="a4">ทานขนมปัง สปาเก็ตตี้ พิซซ่า ก๋วยเตี๋ยวเส้นใหญ่ อาหารที่มีแป้งเยอะเป็นชีวิตจิตใจ มากกว่า 3 ครั้งต่อสัปดาห์</label>
              <input type="radio" name="a4" formControlName="a4" value="true" required> ใช่
              <input type="radio" name="a4" formControlName="a4" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="a5">ใช้เวลาไม่นานในการทานอาหารแต่ละมื้อ</label>
              <input type="radio" name="a5" formControlName="a5" value="true" required> ใช่
              <input type="radio" name="a5" formControlName="a5" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="a6">ทานคาวแล้วต้องทานหวาน เป็นหลักที่ฉันยึดปฏิบัติสม่ำเสมอ</label>
              <input type="radio" name="a6" formControlName="a6" value="true" required> ใช่
              <input type="radio" name="a6" formControlName="a6" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="a7">น้ำผลไม้ น้ำอัดลม ชานมเย็น เครื่องดื่มหวานๆ ดื่มบ่อยกว่าน้ำเปล่าเสียอีก</label>
              <input type="radio" name="a7" formControlName="a7" value="true" required> ใช่
              <input type="radio" name="a7" formControlName="a7" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="a8">ทานขนมซองๆ ระหว่างทำงาน ดูทีวี หรือทำกิจกรรมต่างๆเป็นประจำ</label>
              <input type="radio" name="a8" formControlName="a8" value="true" required> ใช่
              <input type="radio" name="a8" formControlName="a8" value="false"> ไม่ใช่
            </div>
            <button type="submit" >ถัดไป</button>
          </form>
        </div>
        <div *ngIf="currentQuestion == 'B'">
          <h2>แบบสอบถาม B</h2>
          <form [formGroup]="QB" (ngSubmit)="onQBSubmit()">
            <div class="form-control">
              <label for="b1">ทานอาหารนอกบ้านเป็นประจำสม่ำเสมอ มากกว่า 2 ครั้งต่อ 1 สัปดาห์</label>
              <input type="radio" name="b1"  formControlName="b1" value="true" required> ใช่
              <input type="radio" name="b1"  formControlName="b1" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="b2">ชอบรับประทานอาหารรสชาติเข้มข้น จัดจ้าน</label>
              <input type="radio" name="b2" formControlName="b2" value="true" required> ใช่
              <input type="radio" name="b2" formControlName="b2" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="b3">ทานบะหมี่กึ่งสำเร็จรูป โจ๊กคัพ ข้าวกล่องตามร้านสะดวกซื้อมากกว่า 3 ครั้งต่อสัปดาห์</label>
              <input type="radio" name="b3" formControlName="b3" value="true" required> ใช่
              <input type="radio" name="b3" formControlName="b3" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="b4">ทานขนมซองๆ ระหว่างทำงาน ดูทีวี หรือทำกิจกรรมต่างๆเป็นประจำ</label>
              <input type="radio" name="b4" formControlName="b4" value="true" required> ใช่
              <input type="radio" name="b4" formControlName="b4" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="b5">เวลาทานข้าวทุกมื้อแทบขาดพริกน้ำปลา ซีอิ๊วขาวไม่ได้เลย</label>
              <input type="radio" name="b5" formControlName="b5" value="true" required> ใช่
              <input type="radio" name="b5" formControlName="b5" value="false"> ไม่ใช่
            </div>
            <button type="submit" >ถัดไป</button>
          </form>
        </div>
        <div *ngIf="currentQuestion == 'C'">
          <h2>แบบสอบถาม C</h2>
          <form [formGroup]="QC" (ngSubmit)="onQCSubmit()">
            <div class="form-control">
              <label for="c1">ดื่มแอลกอฮอล์มากกว่า 3 กระป๋อง แก้วหรือขวดต่อ 1 สัปดาห์</label>
              <input type="radio" name="c1" formControlName="c1" value="true" required> ใช่
              <input type="radio" name="c1" formControlName="c1" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="c2">ดื่มแอลกอฮอล์ทุกวัน หรือเกือบทุกวัน ได้โอกาสนิดหน่อยก็เอา มากกว่า 4 ครั้งต่อสัปดาห์</label>
              <input type="radio" name="c2" formControlName="c2" value="true" required> ใช่
              <input type="radio" name="c2" formControlName="c2" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="c3">ดื่มแอลกอฮอล์ไปด้วยกับแกล้มไปด้วย</label>
              <input type="radio" name="c3" formControlName="c3" value="true" required> ใช่
              <input type="radio" name="c3" formControlName="c3" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="c4">กับแกล้มมักจะเป็นของทอด ไม่ก็อาหารที่มีมันติดอยู่</label>
              <input type="radio" name="c4" formControlName="c4" value="true" required> ใช่
              <input type="radio" name="c4" formControlName="c4" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="c5">ถ้าได้แอลกอฮอล์เข้าปากแล้ว แทบไม่ดื่มน้ำเปล่าในครั้งนั้นๆเลย</label>
              <input type="radio" name="c5" formControlName="c5" value="true" required> ใช่
              <input type="radio" name="c5" formControlName="c5" value="false"> ไม่ใช่
            </div>
            <button type="submit" >ถัดไป</button>
          </form>
        </div>
        <div *ngIf="currentQuestion == 'D'">
          <h2>แบบสอบถาม D</h2>
          <form [formGroup]="QD" (ngSubmit)="onQDSubmit()">
            <div class="form-control">
              <label for="d1">ทานขนมปังทีไร ทาเนยเยอะๆ กินโกโก้ นมปั่นก็ขอใส่วิปครีมเยอะๆ</label>
              <input type="radio" name="d1" formControlName="d1" value="true" required> ใช่
              <input type="radio" name="d1" formControlName="d1" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="d2">กล้วยทอด เฟรนฟราย ไก่ทอด หมูทอด มันหมู หรือของทอดชนิดอื่นๆ ทานมากกว่า 3 ครั้งต่อสัปดาห์</label>
              <input type="radio" name="d2" formControlName="d2" value="true" required> ใช่
              <input type="radio" name="d2" formControlName="d2" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="d3">ชอบทานเนื้อหมู ไก่ วัวมากกว่าอาหารทะเลหรือปลา</label>
              <input type="radio" name="d3" formControlName="d3" value="true" required> ใช่
              <input type="radio" name="d3" formControlName="d3" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="d4">ทานขนมซอง ขนมขบเคี้ยว มากกว่า 1 ครั้งต่อสัปดาห์</label>
              <input type="radio" name="d4" formControlName="d4" value="true" required> ใช่
              <input type="radio" name="d4" formControlName="d4" value="false"> ไม่ใช่
            </div>
            <div class="form-control">
              <label for="d5">ไม่ค่อยทานผักหรือผลไม้เท่าไหร่</label>
              <input type="radio" name="d5" formControlName="d5" value="true" required> ใช่
              <input type="radio" name="d5" formControlName="d5" value="false"> ไม่ใช่
            </div>
            <button type="submit" >ถัดไป</button>
          </form>
        </div>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="isResult">
    <div *ngIf="result == '1'">
        <h3>คุณกำลังจะอ้วนแบบ “แบบตุ่ม” ใหญ่ทั้งส่วนบนและส่วนล่าง</h3>
        <p>สาเหตุ <b>เกิดจากรับประทานน้ำตาลหรือคาร์โบไฮเดรตมากเกินไป</b>
          เมื่อเข้าสู่ร่างกายแล้วก็จะย่อยตัวกลายเป็นน้ำตาล คุณสมบัติอย่างหนึ่งที่สำคัญของน้ำตาลนั้นคือชอบดูดน้ำ
          จึงทำให้ร่างกายดูบวมทั้งส่วนบน ส่วนล่าง
          นอกจากนั้นปริมาณน้ำตาลที่มากเกินไปยังส่งผลทางอ้อมทำให้ปริมาณไขมันสะสมไปสะสมส่วนต่างๆในร่างกา
          ยเพิ่มขึ้นด้วย
        </p>
        <p>ผลเสียที่ตามมา</p>
        <ul>
          <li>อ้วนบวมทั้งส่วนบนและส่วนล่างของร่างกาย เช่น แขนใหญ่ พุงออก ตูดใหญ่ ต้นขาใหญ่</li>
          <li>เหนื่อยและอ่อนเพลียง่าย</li>
          <li>ผิวพรรณดูแก่กว่าวัย ทั้งหยาบกร้าน มีริ้วรอย สิว ฝ้า หรือปัญหาผิวอื่นๆได้ง่ายกว่า</li>
          <li>อุณหภูมิของร่างกายต่ำลงกว่า 37 องศา ทำให้ประสิทธิภาพการสร้างภูมิคุ้มกันลดลง
            เพิ่มโอกาสการเกิดโรคภัยมากขึ้น (ปกติอุณหภูมิร่างกายประมาณ 37 องศา)</li>
        </ul>
        <p>การปรับพฤติกรรม 3 ข้อสำคัญ</p>
        <ul>
          <li>พยายามลดปริมาณการทานคาร์โบไฮเดรตเช่น ข้าว ขนมปัง เส้นก๋วยเตี๋ยว
            เท่าที่ทำได้ในแต่ละมื้ออาหาร ให้เน้นการรับประทานเนื้อสัตว์ ปลา ไข่ หรือผัก เพิ่มมากขึ้น</li>
          <li>พยายามลดปริมาณการรับประทานของหวาน ขนมกินเล่น หรือผลไม้ที่มีรสหวาน เช่น มะม่วงสุก ทุเรียน
            เงาะ เท่าที่ทำได้</li>
          <li>พยายามไม่ทานจุบจิบ เช่นขนมหวาน ขนมของกินเล่น ระหว่างมื้ออาหาร</li>
        </ul>
        <p>คำแนะนำการใช้ผลิตภัณฑ์</p>
        <ul>
          <li>ทานอาหารเสริมที่มีส่วนผสมช่วยควบคุมปริมาณน้ำตาลในเลือด</li>
          <li>ทานอาหารเสริมที่มีส่วนผสมของสารต้านอนุมูลอิสระ เพื่อช่วยลดการอักเสบ
            และช่วยคงความอ่อนวัยให้กับผิว</li>
          <li>ใช้ผลิตภัณฑ์ให้ความชุ่มชื้นกับผิว (โทนเนอร์หรือมอยเจอร์ไรเซอร์) เพื่อป้องกันไม่ให้ผิวแห้ง
            อ่อนแอเปราะบางลงและลดความหยาบกระด้าง</li>
          <li>ใช้ผลิตภัณฑ์กันแดดสม่ำเสมอ เพื่อป้องกันไม่ให้แสงแดดมาทำลายผิว</li>
        </ul>
        <p>ผลิตภัณฑ์แนะนำสำหรับคุณ</p>
      </div>
      <div *ngIf="result == '2'">
        <h3>คุณกำลังจะอ้วนแบบ “แบบกะละมัง” ใหญ่แต่ส่วนล่าง</h3>
        <p>สาเหตุ เกิดจากทานเกลือหรือผงชูรสมากเกินไป
          ร่างกายจึงจำเป็นต้องกักน้ำเพื่อเจือจางปริมาณเกลือในร่างกาย
          นอกจากนั้นยังเกี่ยวเนื่องไปถึงประสิทธิภาพการทำงานของระบบเผาผลาญในร่างกายที่แย่ลง
          ไม่สามารถเปลี่ยนแปลงอาหารที่รับประทานเข้าไปให้กลายเป็นพลังงานเพื่อใช้สำหรับร่างกาย แต่สะสมไว้
          จึงทำให้ร่างกายอ้วนและบวมขึ้น
        </p>
        <p>ผลเสียที่ตามมา</p>
        <ul>
          <li>อ้วนบวมบริเวณส่วนล่างของร่างกายเช่น ตูดใหญ่ ต้นขาใหญ่</li>
          <li>ความดันเลือดสูง</li>
          <li>ระบบการเผาผลาญในร่างกายต่ำลง</li>
          <li>ผิวหยาบกร้าน ไม่นุ่มนวลน่าสัมผัส</li>
          <li>อุณหภูมิของร่างกายต่ำลงกว่า 37 องศา ทำให้ประสิทธิภาพการสร้างภูมิคุ้มกันลดลง
            เพิ่มโอกาสการเกิดโรคภัยมากขึ้น (ปกติอุณหภูมิร่างกายประมาณ 37 องศา)</li>
        </ul>
        <p>การปรับพฤติกรรม 4 ข้อสำคัญ</p>
        <ul>
          <li>พยายามรับประทานอาหารที่มีโปรแตสเซียมสูงเช่น ผักสด (สลัดผักรวม) ผลไม้ชนิดต่างๆ เช่น กล้วย
            เพื่อช่วยให้การขับโซเดิยมออกจากร่างกายเป็นไปอย่างปกติราบรื่น</li>
          <li>พยายามทำอาหารทานเองให้มากขึ้น ลดจำนวนครั้งการทานนอกบ้าน</li>
          <li>พยายามเลี่ยงอาหารจำพวกบะหมี่ โจ๊กกึ่งสำเร็จรูป หรือข้าวกล่องตามร้านสะดวกซื้อ</li>
          <li>พยายามทานอาหารไม่ปรุง หลีกเลี่ยงเกลือ น้ำปลา ซีอิ๊ว</li>
        </ul>
        <p>คำแนะนำการใช้ผลิตภัณฑ์</p>
        <ul>
          <li>ทานอาหารเสริมวิตามินรวม ช่วยบำรุงร่างกายให้แข็งแรง
            และส่งเสริมให้การทำงานของระบบต่างๆในร่างกายเป็นไปอย่างปกติ</li>
          <li>ทานอาหารเสริมที่มีส่วนผสมของสารต้านอนุมูลอิสระเช่น สารกกัดจากองุ่น โรสฮิบ เป็นต้น
            เพื่อช่วยลดการอักเสบ และช่วยคงความอ่อนวัยให้กับผิว</li>
          <li>ใช้ผลิตภัณฑ์บำรุงให้ความชุ่มชื้นผิว เพื่อป้องกันไม่ให้ผิวแห้ง
            อ่อนแอเปราะบางลงและลดความหยาบกระด้าง</li>
          <li>ใช้ผลิตภัณฑ์กันแดดสม่ำเสมอ เพื่อป้องกันไม่ให้แสงแดดมาทำลายผิว</li>
        </ul>
        <p>ผลิตภัณฑ์แนะนำสำหรับคุณ</p>
      </div>
      <div *ngIf="result == '3'">
        <h3>คุณกำลังจะอ้วน “แบบพุงย้อย” ใหญ่เฉพาะส่วนพุง</h3>
        <p>สาเหตุ เกิดจากการดื่มแอลกอฮอล์มาเกินไป ทำให้อาหารที่ทานเข้าไปโดยเฉพาะแป้ง น้ำตาล
          ไขมันย่อยสลายยากขึ้น ไม่ถูกนำไปใช้ จึงสะสมอยู่ภายในร่างกาย นอกจากนั้นพวกกับแกล้ม ของทอด
          เนื้อติดมัน ที่มักกินร่วมกัน มีสารอาหารน้อย แถมยังไปเพิ่มให้ไขมันภายในร่างกายสูงขึ้นอีกด้วย
        </p>
        <p>ผลเสียที่ตามมา</p>
        <ul>
          <li>พุงใหญ่ พุงย้อย</li>
          <li>อวัยวะภายในค่อยๆเสื่อม เนื่องจากต้องทำงานหนักขึ้นในการย่อยอาหารทุกประเภท</li>
          <li>ไขมันไปเกาะบริเวณเส้นเลือด ทำให้การไหลเวียนเลือดยากลำบากขึ้น
            โอกาสทำให้เกิดโรคไขมันในเลือดสูงและอื่นๆตามมา</li>
          <li>ผิวพรรณหยาบกร้าน ดูแก่กว่าวัย</li>
        </ul>
        <p>การปรับพฤติกรรม 4 ข้อสำคัญ</p>
        <ul>
          <li>พยายามลดการกินกับแกล้มที่เป็นของทอด หรือเนื้อติดมัน</li>
          <li>พยายามลดอาหารที่เป็นแป้งหรือน้ำตาลในแต่ละมื้อของคุณ</li>
          <li>ระหว่างดื่มเหล้าควรดื่มน้ำเปล่าด้วย และ 1 อาทิตย์อย่างน้อย 2 วัน งดดื่มแอลกอฮอล์
            เพื่อให้ร่างกายได้พัก</li>
          <li>พยายามรับประทานผักได้แก่กระเจี๊ยบเขียวหรือแดง หัวไชเท้า กระเทียม ส่วนเนื้อสัตว์ก็เน้นไม่ติดมัน
            ปลา หอยนางรมและนมกับไข่ให้มากขึ้น เพราะมีสารอาหารจำพวก<u>วิตามินบี และสังกะสีมากๆ</u>
            ซึ่งช่วยย่อยสลายอาหารไขมัน แป้ง น้ำตาลได้เร็วขึ้น</li>
        </ul>
        <p>คำแนะนำการใช้ผลิตภัณฑ์</p>
        <ul>
          <li>ทานอาหารเสริมที่มีส่วนผสมของสารช่วยควบคุมปริมาณไขมันไม่ดี</li>
          <li>ทานอาหารเสริมที่มีส่วนผสมของสารต้านอนุมูลอิสระเช่น สารกกัดจากองุ่น โรสฮิบ เป็นต้น
            เพื่อชะลอความเสื่อมของอวัยวะต่างๆ</li>
          <li>ใช้ผลิตภัณฑ์ให้ความชุ่มชื้น เพื่อให้ความชุ่มชื้นแก่ผิวหนัง ลดความหยาบกระด้าง</li>
          <li>ใช้ผลิตภัณฑ์กันแดดสม่ำเสมอ เพื่อป้องกันไม่ให้แสงแดดมาทำลายผิว</li>
        </ul>
        <p>ผลิตภัณฑ์แนะนำสำหรับคุณ</p>
      </div>
      <div *ngIf="result == '4'">
        <h3>คุณกำลังจะอ้วน “แบบจานดาวเทียม” ใหญ่เฉพาะส่วนล่าง</h3>
        <p>สาเหตุ เกิดจากการทานอาหารจำพวกไขมันมากเกินไป ไม่ถูกนำไปใช้จึงสะสมตามส่วนต่างๆของร่างกาย
          ยิ่งอายุเยอะประสิทธิภาพในการเผาผลาญไขมันก็ลดลง
        </p>
        <p>ผลเสียที่ตามมา</p>
        <ul>
          <li>อ้วนบวมบริเวณส่วนล่างของร่างกายเช่น ตูดใหญ่ ต้นขาใหญ่</li>
          <li>ไขมันไม่ดีได้แก่ คอลเลสเตอรอล ในกระแสเลือดสูงขึ้น</li>
          <li>ไขมันไปเกาะบริเวณเส้นเลือด การไหลเวียนเลือดยากลำบากขึ้น</li>
          <li>กระบวนการเผาผลาญอาหารต่างในร่างกายทำงานได้แย่ลง</li>
          <li>ผิวพรรณหยาบกร้าน ดูแก่กว่าวัย</li>
        </ul>  
        <p>การปรับพฤติกรรม 3 ข้อสำคัญ</p>
        <ul>
          <li>พยายามลดการกินของทอด หรือเนื้อติดมัน เน้นการปรุงอาหารแบบต้ม หรือนึ่ง</li>
          <li>ควบคุมปริมาณอาหารจำพวกแป้งหรือน้ำตาลในแต่ละมื้อให้น้อยลง</li>
          <li>พยายามรับประทานผักได้แก่กระเจี๊ยบเขียวหรือแดง หัวไชเท้า กระเทียม ส่วนเนื้อสัตว์ก็เน้นไม่ติดมัน
            ปลา หอยนางรมและนมกับไข่ให้มากขึ้น เพราะมีสารอาหารจำพวก<u>วิตามินบี และสังกะสีมากๆ</u>
            ซึ่งช่วยย่อยสลายอาหารไขมัน แป้ง น้ำตาลได้เร็วขึ้น</li>
        </ul>
        <p>คำแนะนำการใช้ผลิตภัณฑ์</p>
        <ul>
          <li>ทานน้ำมันมะกอกบริสุทธิ์แทนน้ำมันชนิดอื่นๆ</li>
          <li>ทานอาหารเสริมที่มีส่วนผสมของสารที่ช่วยควบคุมปริมาณน้ำตาลในเลือด และไขมัน</li>
          <li>ทานอาหารเสริมที่มีส่วนผสมของสารต้านอนุมูลอิสระเช่น สารกกัดจากองุ่น โรสฮิบ เป็นต้น
            เพื่อชะลอความเสื่อมของอวัยวะต่างๆ</li>
          <li>ใช้ผลิตภัณฑ์ให้ความชุ่มชื้น เพื่อให้ความชุ่มชื้นแก่ผิวหนัง ลดความหยาบกระด้าง</li>
          <li>ใช้ผลิตภัณฑ์กันแดดสม่ำเสมอ เพื่อป้องกันไม่ให้แสงแดดมาทำลายผิว</li>
        </ul>
        <p>ผลิตภัณฑ์แนะนำสำหรับคุณ</p>
      </div>
      <div *ngIf="result == '5'">
        <h3>อีก ปี 10
          คุณก็ยังคงสวยหุ่นดีเหมือนเดิม</h3>
      </div>
      <div>
        <button (click)="closeDialog()">close</button>
      </div>
</mat-dialog-content>