.food-type{
    border: 1px solid gray; 
    border-radius: 5px;
    width: 23%;
    min-height: 180px;
    display: inline-block;
    vertical-align:top;
    padding: 10px;
    margin: 5px;
}

.food-type .desc{
    margin-bottom: 0rem;
}

.bottom-dialog .left{
    display: inline-block;
    width: 20%;
}

.bottom-dialog .right{
    display: inline-block;
    width: 80%;
    text-align: right;
}

td.question{
    width: 80%;
}

td.answer{
    width: 20%;
}

tr:nth-child(even) {
    background-color: #EEEEEE;
}