<div class="navbar container-fluid justify-content-center" style="padding-bottom: 20px">
  <div style="border: solid white">
    <h4>Logo </h4>
  </div>
  <div class="row justify-content-center">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ALL PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT US</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">search</a>-->
        <div class="col">
          <i class="fa fa-search nav-link" aria-hidden="true"></i>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">EN
        <i class="fa fa-angle-down" aria-hidden="true"></i>
        </a>
        <!--<ng-select-->
          <!--[items]="items"-->
          <!--placeholder="">-->
        <!--</ng-select>-->
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">shop</a>-->
        <div class="col">
          <i class="fa fa-shopping-cart nav-link" aria-hidden="true"></i>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOGIN</a>
      </li>
    </ul>
  </div>
</div>
