<div class="navbar container-fluid justify-content-center" style="padding-bottom: 20px">
  <!-- <div style="border: solid white"> -->
    <div>
    <!-- <h4>Logo </h4> -->
    <img src="../assets/img/logo.png" alt="first slide" style="display: block; width: 30%; margin: auto">
  </div>
  <div class="row justify-content-center">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">หน้าหลัก</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">ผลิตภัณฑ์ทั้งหมด</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/article" routerLinkActive="active">ARTICLES</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">เกี่ยวกับเรา</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">ที่มา</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">ติดต่อเรา</a>
      </li>
      <!-- <li class="nav-item">
        <!--<a class="nav-link" href="#">search</a>-->
        <!-- <div class="col">
          <i class="fa fa-search nav-link" aria-hidden="true"></i>
        </div>
      </li> --> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/lang" routerLinkActive="active">TH
          <span class="flag-icon flag-icon-th mr-2"></span>
        <i class="fa fa-caret-down " aria-hidden="true"></i>
        </a>
        <!--<ng-select-->
          <!--[items]="items"-->
          <!--placeholder="">-->
        <!--</ng-select>-->
      </li>
      <!-- <li class="nav-item"> -->
        <!--<a class="nav-link" href="#">shop</a>-->
        <!-- <div class="col">
          <i class="fa fa-shopping-cart nav-link" aria-hidden="true"></i>
        </div>
      </li> -->
    </ul>
  </div>
  <hr style="height:1px;border:none;background-color:white; width: 95%;"><br>
</div>
<div class="pink-filled"></div>
