<div class="navbar container-fluid justify-content-center" style="padding-bottom: 20px">
  <div style="border: solid white">
    <h4>Logo </h4>
  </div>
  <div class="row justify-content-center">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active">ALL PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT US</a>
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">search</a>-->
        <div class="col">
          <i class="fa fa-search nav-link" aria-hidden="true"></i>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lang" routerLinkActive="active">EN
          <span class="flag-icon flag-icon-gb mr-2"></span>
        <i class="fa fa-caret-down " aria-hidden="true"></i>
        </a>
        <!--<ng-select-->
          <!--[items]="items"-->
          <!--placeholder="">-->
        <!--</ng-select>-->
      </li>
      <li class="nav-item">
        <!--<a class="nav-link" href="#">shop</a>-->
        <div class="col">
          <i class="fa fa-shopping-cart nav-link" aria-hidden="true"></i>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>
      </li>
    </ul>
  </div>
  <hr style="height:1px;border:none;background-color:white; width: 95%;"><br>
</div>
<div class="pink-filled"></div>