<div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Admin Password</h4>
      <button type="button" class="close" aria-label="Close"  (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
          <div *ngIf="form?.hasError('invalid', ['password'])" class="invalid">
            Password is incorrect
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" [disabled]="!form.valid" (click)="validate()">Save</button>
    </div>
  </ng-template>
  <button class="btn btn-icon" data-toggle="modal" data-target="#validateModal" (click)="open(content)">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
  </button>
</div>
