/* You can add global styles to this file, and also import other style files */
@import "~flag-icon-css/css/flag-icon.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@media (min-width:992px)
    {
        .container-fluid{width:1000px}
    }
@media (min-width:1200px)
    {
        .container-fluid{width:1000px}
    }

.btn-primary {
  background: #E7496C;
  border-color: #E7496C;
  cursor: pointer;
  &:hover, &:active {
    background: #bd3e5a;
    border-color: #bd3e5a;
  }
  &:disabled {
    background-color: #dc7289;
    border-color: #dc7289;
    &:hover, &:active {
      background: #dc7289;
      border-color: #dc7289;
    }
  }
}

.btn-icon {
  font-size: 18px;
  i {
    font-size: 24px;
  }
  &.btn, &.btn:hover, &.btn:active {
    background: transparent;
    border: 0;
  }
  &.btn:focus {
    box-shadow: none;
  }
}
