<div class="container" >
  <div class="row">
      <div class="col-6">
        <p class="header">ChoiceChecker เกิดขึ้นมาได้อย่างไร?</p>
        <div class="text-center">
          <p class="caption"><span class="font-red">#เลือกท่ีใช่ใช้ท่ีเลือก</span>#choose your suit, suit your choice.</p>
          <p class="content">
            <span class="space"></span>ผมเป็นคนหนึ่งที่เคยมีน้ำหนักถึง 97 กิโลกรัม ในส่วนสูง 162 ซม เนื่องด้วยผมเกิดในครอบครัวคนจีน เต็มที่กับการกินทุกมื้อและทุกเทศกาล ผมพยายามลดน้ำหนักหลายครั้งแต่ก็ไม่เคยลงสักที เพราะหยุดปากตัวเองไม่ได้ อีกทั้งสภาพแวดล้อมก็เอื้ออำนวยให้กินตลอดเวลา จนมีวันหนึ่งผมสังเกตว่า การกรนของผมเริ่มหนักขึ้นทุกวัน ไปตรวจร่างกายก็พบว่าไขมันในเลือดสูง บ่อยครั้งๆที่โดนตำหนิจากคนรอบข้างว่าบุคลิกไม่ดี ผมรู้สึกนอยด์มากๆและเป็นเหตุให้อยากเริ่มลดน้ำหนักอย่างจริงจัง
            <br><br>
            <span class="space"></span>ในช่วงลดน้ำหนักมีหลายๆคนพยายามเข้ามาช่วย เช่นแนะนำให้ทานอาหารเสริมตัวนั้นตัวนี้ เพราะเขาทานแล้วลดไป 10 กก ภายใน 3 เดือน นอกจากนั้นก็มีแนะนำให้เข้าคอร์สออกกำลังกายซึ่งราคาค่อนข้างสูง ผมก็เชื่อและทำทุกอย่างแต่ไม่ประสบความสำเร็จเหมือนคนอื่น <span class="highlight">ผมท้อถอยและรู้สึกว่าสิ่งที่ใช่สำหรับคนอื่น มันไม่ใช่สำหรับเราเสมอไป</span> ผมมาอยู่จุดนี้ ผมถึงเข้าใจความท้อถอยของหลายๆคน ที่มาบ่นให้ผมฟัง พวกเขาก็พยายามทำทุกวิถีทางอย่างที่คนอื่นแนะนำเช่นกันแต่ก็ไม่ได้ผล
            <br><br>
            <span class="space"></span>ผมเลยกลับมาคิดดูว่าที่ไม่ได้ผล อาจไม่ใช่เพราะตัวเราไม่พยายามหรือโชคร้าย <b>แต่สิ่งที่เรากำลังทำอยู่มันอาจจะไม่ใช่สำหรับตัวเราด้วยเหตุผลหลายๆอย่าง</b> อย่างเช่นตัวผมไม่ชอบอดอาหาร ไม่มีเวลาอยู่ยิมเป็นชั่วโมงๆ  และไม่ชอบทานยาหรืออาหารเสริม การทานสม่ำเสมอเป็นเรื่องยากสำหรับผม ผมจึงพยายามอีกครั้งโดยเริ่มจากหาแนวทางที่ใช่และสบายใจที่สุดแล้วเริ่มทำมัน จนสุดท้ายผมก็ทำสำเร็จ <b>แต่ต่างจากเดิมคือมีความสุขและสนุกกับสิ่งที่ทำมาก ไม่เครียดและไม่กดดัน</b>
            <br><br>
            <span class="space"></span>ผมอยากให้เพื่อนๆที่มีปัญหาทำให้รู้สึกขาดความมั่นใจ <b>มีความมั่นใจมากขึ้นในขณะที่ก็สนุกสนานและมีความสุขกับการใช้ชีวิต</b>  ผม เพื่อนๆ และพี่ๆ ทั้งแพทย์ เภสัชกร นักวิทยาศาสตร์ ผู้มีความรู้ความเชียวชาญในเรื่องของการดูแลตัวเองจึงได้จัดทำ <b>ChoiceChecker</b> ขึ้นมา เพื่อเป็นที่ปรึกษาให้กับทุกคนและรวบรวมแนวทางให้หลายๆคนเลือกหาสิ่งที่ใช่ที่สุดสำหรับตัวเอง
          </p>
        </div>
      </div>
      <div class="col-6 img-container">
          <img src="../assets/img/about-bg.jpg">
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="review-header">User Review</h3>
    </div>
    <div class="col-12 card-deck">
      <div class="card">
        <a routerLink="/review/:id">
          <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text-small">This is a longer card with supporting text below as a natural lead-in to additional
          </p>
        </div>
      </div>
      <div class="card">
        <a routerLink="/review/:id">
          <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text-small">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <a routerLink="/review/:id">
          <img src="../assets/img/5.jpg" alt="first slide" style="display: block; width: 100%;">
        </a>
        <div class="card-body" style="background-color: white">
          <!-- <h5 class="card-title">Card title</h5> -->
          <p class="card-text-small">This is a wider card with supporting text below as a natural lead-in to additional
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
