<div class="container" >
  <div class="row">
      <div class="col-6"  style="margin-bottom: 50px">
  <h1 class="pink" style="margin-top: 50px;margin-bottom: 50px">ที่มา  “Choicechecker”   </h1>
  <div class="text-center">
    <h5 class="font-red"> The one that you chose is the most suited  you</h5>
    <h4>#เพราะเราเลือกมันจึงใช่ที่สุด</h4></div><br>
  <p>
    สมัยเด็กๆ ตอนพวกเราอายุราวๆ 3-5 ขวบ วันๆหนึ่ง เราก็แค่วิ่งเล่น กิน แล้วก็นอน 
    เจ็บสุดก็แค่ทะเลาะกับเพื่อน โดนหยิก โดนดึงผม พออายุราวๆชั้นประถมต้น ก็ยังไม่ต่างจากเดิม 
    แค่เพิ่มเติมคือ ทุกคนรอบตัวบอกว่า “ การเรียนเป็นสิ่งสำคัญ อย่าโดดเรียน อย่าลืมทำการบ้าน 
    อย่าเถียงคุณครู อย่าเกเร อย่าทะเลาะกับเพื่อน จงเรียนให้เก่ง จะได้อยู่ห้องดีๆ” 
    เหนื่อยใจสุดก็แค่เรื่องเรียน เพราะต้องคอยระวังอย่าให้โดนพ่อ แม่ ครูอาจารย์ดุ แต่อย่างไรก็ตาม
    เวลาเจ็บก็ยังคงมีคนคอยปลอบ จะใช้อะไร จะกินอะไร ส่วนมากพ่อแม่ ญาติพี่น้องก็เป็นคนตัดสินใจให้ทั้งหมด 
    สิ่งที่ใช่ทีสุดสำหรับพวกเราๆช่วงนั้น ก็คงหนีไม่พ้นสิ่งที่คนอื่นๆ บอกว่าใช่
    <br><br>
    เมื่อพวกเราก้าวเข้าสู่มัธยมต้นจนค่อยๆเติบโตเป็นผู้ใหญ่ การเปลี่ยนแปลงต่างๆ ทั้งทางร่างกาย ความคิด
    และสังคมก็มากขึ้น ไม่เพียงแค่เรื่องเรียนเท่านั้นยังมีเรื่องอื่นๆ ให้คิดและกังวลหนักขึ้น ไม่ว่าจะเป็นเรื่องการ
    เปลี่ยนแปลงของร่างกายและฮอร์โมนที่นำพาสิวที่สุดแสนยากจะหาย พอไปถามใครๆ ถามคนนี้ก็บอกให้ทำอย่างนั้น 
    คนนั้นก็บอกให้ทำอย่างนี้ ถามแม่แม่ก็บอกไม่มีตังค์  เดี๋ยวมันก็หาย สรุปไม่รู้จะแก้ไขอย่างไร ก็เลยไม่หายสักที 
    บางคนถึงขนาดกับขาดความมั่นใจเวลาต้องพบเจอกับเพื่อนๆ นอกจากนั้นก็ยังมีเรื่องการแข่งขันในสังคมที่เพิ่มสูงขึ้นทั
    ้งด้านการเรียน การงาน หรือแม้แต่ความรัก หลายๆครั้งที่มีปัญหาก็ไม่สามารถเรียกหาใครได้ หรือมีคนช่วยแต่ก็ได้
    แค่บางส่วน เพราะปัญหาและประสบการณ์ที่เขาเจอกับเราเจอแตกต่างกัน ส่วนผลลัพธ์ที่ได้ก็ไม่ดีที่สุดสำหรับเรา 
    เกือบทุกๆครั้งที่ต้องเป็นตัวเองที่ต้องใช้พลังด้านบวก สติ และความมั่นใจเพื่อที่จะผ่านปัญหาต่างๆไป ดังนั้นสุดท้ายแล้ว
    ไม่มีใครเข้าใจตัวเราดีเท่ากับตัวเราเอง สิ่งที่ใช่ที่สุดสำหรับเรา กลับกลายเป็นว่ามันไม่ใช่สิ่งที่หลายๆคนบอกว่าใช่อีกต่อไป
    <br><br>
    Choicechecker เพราะพวกเราก็รับรู้และเคยประสบสิ่งที่เกิดเหล่านี้เช่นเดียวกับหลายๆคน จึงกลายมาเป็นที่มาของ 
    Choicechecker ช่องทางที่จะช่วยคัดสรรสิ่งที่ใช่ที่สุดสำหรับพวกคุณทุกคน และเป็นช่องทางที่มีระบบสนับสนุน 
    ระบบให้คำปรึกษา เพื่อช่วยพวกคุณให้สามารถเลือกตัดสินใจสิ่งที่ใช่ที่สุดได้ด้วยตัวคุณเอง 
    <br><br>
    “Choicechecker สนับสนุนให้ทุกคนกล้าที่จะเลือกในสิ่งที่คิดว่าใช่ เพราะสิ่งที่เราเลือกมันจะใช่ที่สุดเสมอ” 
    
       </p>
  </div>
  <!-- <div class="col-6" >
      <img src="../assets/img/about-bg.jpg">
  </div> -->
</div>
</div>
